@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@700&family=Lato&display=swap');

:root{
    --primary: #047b52;
    --light: #EEEEEE;
    --dark: #212121;
}


body{
    height: 100vh;
    background-color: #000;
    overflow: hidden;
}

.world{
    display: flex;
    justify-content: right;
    align-items: right;
    overflow: hidden;
    margin-top: 150px;
    margin-right: 50px;
    position: fixed;
}

.worldVideo{
    width: 35%;
    border-radius: 500px;
}

#title{
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 25%;
    font-family: 'Fira sans', sans-serif;
    font-style: italic;
    margin-left: 40px;
    letter-spacing: 2px;
    font-size: 2rem;
}

#earthp{
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top:47%;
    font-family: 'Lato';
    font-size: 1.3rem;
    color: grey;
    margin-left: 40px;
    font-size: 1.5rem;
}

.btn{
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top:71%;
    font-size: 1.2rem;
    background-color: #047b52;
    border: none;
    border-radius: 24px;
    padding: 15px 25px;
    margin-left: 50px;
}

.btn:hover{
    transform: translateY(8px);
    transition: linear 0.6s;
}

.btn:active{
    transform: scale(1.3);
}


/* navbar */
.navContainer{
    max-width: 1280px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Fira sans';
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #000;
    background: transparent;
    border-bottom: 3px solid var(--primary);
    border-top: 3px solid var(--primary);
}

nav h1{
    color: #FFF;
    font-size: 28px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.menu{
    display: flex;
    flex: 1 1 0%;
    justify-content: flex-end;
    margin: 0 -16px;
}

.menu a{
    color: #FFF;
    margin: 0 16px;
    font-weight: 500;
    text-decoration: none;
    transition: 0.4s;
    padding: 8px 16px;
    border-radius: 99px;
}

.menu a.is-active, .menu a:hover{
    background-color: var(--primary);

}

.carduri{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.cards{
    margin-top: 50px;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: "Fira sans", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: fixed;
    left: 10%;
}

.grid {
    display: grid;
    width: 150em;
    grid-gap: 4rem;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    align-items: start;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 0.4rem;
    overflow: hidden;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.2s;
}

.grid-item:hover {
    transform: translateY(-0.5%);
    box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.5);
}

.card-img {
    display: block;
    width: 100%;
    height: 20rem;
    object-fit: cover;
}

.card-content {
    padding: 3rem;
}

.card-header {
    font-size: 1.2rem;
    font-weight: 300;
    color: whitesmoke;
    margin-bottom: 1.5rem;
}

#text{
    color: #fff;
    font-family: 'Fira sans';
}

.moveText{
    display: flex;
    justify-content: left;
    align-items: left;
    margin-top: 330px;
    position: fixed;
    font-size: 2rem;
    margin-left: 50px;
}

#welcome{
    color: var(--primary);
    font-family: 'Fira sans';
    display: flex;
    justify-content: left;
    align-items: left;
    margin-top: 280px;
    position: fixed;
    font-size: 4rem;
    margin-left: 50px;
}
#para{
    color:#fff;
    font-family: 'lato';
    display: flex;
    justify-content: left;
    align-items: left;
    margin-top: 470px;
    position: fixed;
    font-size: 2rem;
    margin-left: 50px;
}

/* social media buttons */
.allbtn{
    display: grid;
    place-items: left;
    padding-top: 36%;
    padding-left: 6%;
    position: fixed;
}
.wrap{
    display: inline-flex;
}

.wrap .icon{
    margin: 0 20px;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrap .icon a{
    display: block;
    height: 60px;
    width: 60px;
    background: transparent;
    border-radius: 50%;
    position: relative;
    border: 2px solid #fff;
    z-index: 2;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrap .icon a i{
    line-height: 60px;
    font-size: 25px;
}

.wrap .icon .tooltip{
    position: absolute;
    top: 0;
    z-index: 1;
    background: #fff;
    color: #fff;
    padding: 10px 18px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 25px;
    font-family: 'Fira sans';
    opacity: 0;
    pointer-events: none;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrap .icon:hover .tooltip{
    top: -70px;
    opacity: 1;
    pointer-events: auto;
}

.icon .tooltip:before{
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: #fff;
    left: 50%;
    bottom: -6px;
    transform: translateX(-50%) rotate(45deg);
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrap .icon a{
    color: #fff;
}
  .wrap .icon:hover a,
  .wrap .icon:hover .tooltip{
    text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
}
  .wrap .facebook a,
  .wrap .facebook:hover .tooltip,
  .wrap .facebook:hover .tooltip:before{
    background: #3B5999;
}
  .wrap .twitter a,
  .wrap .twitter:hover .tooltip,
  .wrap .twitter:hover .tooltip:before{
    background: #1DA1F2;
}
  .wrap .instagram a,
  .wrap .instagram:hover .tooltip,
  .wrap .instagram:hover .tooltip:before{
    background: #F56040;
}
  .wrap .github a,
  .wrap .github:hover .tooltip,
  .wrap .github:hover .tooltip:before{
    background: #333;
}

.image{
    display: flex;
    justify-content: right;
    align-items: right;
    margin-top: 150px;
    margin-right: 230px;
}


/* contact */
.ctpage{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Fira sans';
    margin-top: 200px;
    background-color: red;
    width: 0;
    height: 0;
    position: absolute;
    top: 30%;
    left: 50%;

}
.contact-section{
    background: rgba(255, 255, 255, 0.1);
    padding: 80px 0;
    text-align: center;
    height: 500px;
    width: 800px;
    border-radius: 10%;
  }
  
  .inner-width{
    max-width: 600px;
    margin: auto;
    padding: 0 20px;
  }
  
  .contact-section h1{
    font-size: 25px;
    color: #888;
    margin-bottom: 40px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 400;
    margin-top:150px;
  }
  
  .name,.email,.message{
    background: none;
    border:none;
    outline: none;
    border-bottom: 1px solid;
    color: #888;
    padding: 10px 6px;
    font-size: 17px;
    margin-bottom: 40px;
    font-family: 'Fira sans';
  }
  
  .name{
    float: left;
    width: 270px;
  }
  
  .email{
    float: right;
    width: 270px;
  }
  
  .message{
    min-width: 100%;
    max-width: 100%;
  }
  
  
  .contact-section button{
    background: none;
    color: #fff;
    border: 1px solid var(--primary);
    padding: 12px 40px;
    border-radius: 8px;
    text-transform: uppercase;
    font-size: 14px;
    transition: 0.4s linear;
    cursor: pointer;
    font-family: 'Fira sans';
  }
  
  .contact-section button:hover{
    background: var(--primary);
    color: #fff;
  }